body {
  --hue-60: calc(var(--accent-h) + 60);
  --hue-ternary-one: calc(var(--accent-h) + 120);
  --hue-opposite: calc(var(--accent-h) + 180);
  --hue-ternary-two: calc(var(--accent-h) + 240);
  --hue-300: calc(var(--accent-h) + 300);

  --hue-split-one: calc(var(--accent-h) + 150);
  --hue-split-two: calc(var(--accent-h) + 210);

  --accent: var(--interactive-accent);
  --accent-light: hsl(
          var(--accent-h),
          var(--accent-s),
          calc(var(--accent-l) + 2%)
  );
}

.settings-banner {
  background-color: var(--background-secondary-alt);
  border-radius: 4px;
  margin-bottom: 2em;
  padding: 1.5em;
  text-align: left;
}

.settings-banner h4 {
  margin: 0;
}


.month-container {
  --color-background-heading: transparent;

  --color-background-day: var(--interactive-normal);
  --color-background-day-hover: var(--interactive-normal-hover);

  --color-text-day: var(--text-normal);
  --color-text-day-hover: var(--text-normal);

  --color-background-day-note: var(--accent);
  --color-background-day-note-hover: var(--accent-light);

  --color-text-has-note: var(--text-on-accent);
  --color-text-has-note-hover: var(--text-on-accent);

  --color-today-dot: var(--color-base-100);

  --color-border-day-active: var(--color-orange);
  --color-border-day-hover: rgba(var(--color-orange-rgb), 0.8);

  height: 250px;
  max-width: 350px;
}


.month-container {
  padding: 1rem 0;
}

.month-container:first-child {
  padding-top: 0;
}



.calendar {
  border-collapse: collapse;
  width: 100%;
}

.nav {
  align-items: center;
  display: flex;
  margin: 0.6em 0 1em;
  padding: 0 8px;
  width: 100%;
}

.nav-title {
  color: var(--color-text-title);
  font-size: 1.5em;
  margin: 0;
}

.nav-month-name {
  font-weight: 500;
  text-transform: capitalize;
}

.scrolling-container {
  height: 100%;
  overflow-y: auto;
  margin-left: 8px;
  margin-right: 8px;

  scrollbar-gutter: stable;
  display: flex;
  flex-direction: column-reverse;
}



.loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
  z-index: 10;
}


.loading-bar.bottom {
  top: auto;
  bottom: 0;
}


.loading-bar-inner {
  height: 100%;
  background: var(--interactive-accent);
  animation: loading 0.25s ease-in-out;
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


.main-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 350px;
  padding-top: 0;

  border: 1px solid var(--background-modifier-border);
}

.calendar-section {
  /*height: %;*/
  min-height: 300px;
  border-bottom: 2px solid var(--background-modifier-border);
}




th {
  background-color: var(--color-background-heading);
  color: var(--color-text-heading);
  font-size: 0.6em;
  letter-spacing: 1px;
  padding: 4px;
  text-transform: uppercase;
  text-align: center;
}
